
.card{
    font-size: medium;
    position: relative;
    height: auto;
    width: 350px;
    height: 730px;
    border:4px solid grey;
    border-radius: 20px;
    background-color: black;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
  }
.img{
max-width: 80%;
height: auto;
}  