.form{
    display: grid;
    justify-content: space-evenly;   
}
.formContainer{
    background-color: grey;
    margin-top: 100px;
    color: black;
    width: 350px;
    border-radius: 25px;
}
.submit{
    margin-top: 20px;
    margin-bottom: 20px;
}
.diets{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    justify-content: space-between;
}