.input {
  height: 37px;
  width: 300px;
  border-radius: 10px;
  color: white;
}

.button {
  padding: 0.6em 1.2em;
  transition: all;
}

.button:hover {
  scale: 1.04;
}

.button:active {
  transform: translate(0, 2px);
}

.wrapper {
  display: flex;
  gap: 16px;
}
