.buttonContainer {
  margin-bottom: 50px;
}
.button {
  padding: 0.6em 1.2em;
  margin-bottom: 50px;
}
.button:disabled {
  background-color: grey;
}
.selected {
  scale: 1.2;
  padding: 0.6em 1.2em;
  background-color: aliceblue;
  color: black;
  border: 2px solid black;
}
