.nav{
    width: 100%;
    height: 100px;
    background-color: rgb(230, 210, 213) ;
    position: absolute;
    left: 0;
    top :0;
    display: grid;
    grid-template-columns:auto auto auto;
    align-items: center;
}
.img{
    width: 25px;
    height: 25px;
}
.link{
    color:rgb(43, 43, 23);
}
