nav {
  position: absolute;
  width: 99vw;
  height: 130px;
  background-color: #464283;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img {
  width: 25px;
  height: 25px;
}
.link {
  height: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #00002c;
  font-weight: bolder;
}
.link:hover {
  color: white;
  text-decoration: underline;
}
